<%- include('partials/header', { pageTitle }) %>

  <div class="container">
    <div class="welcome-header">
      <h1>Hello, <%= user %></h1>
      <a href="/logout">Log Out</a>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo delectus molestiae quis praesentium officia dolores assumenda est illo quasi soluta alias expedita aliquam, illum nam modi nostrum, molestias eaque magni quam ratione ipsum ab! Corrupti voluptatem assumenda aspernatur deserunt totam, natus ea iste laudantium veniam? Ad alias tempore deserunt voluptates.
    </p>
    <p>
      Quae est aperiam accusamus repudiandae, officia impedit reiciendis ipsum suscipit minima totam corporis aut eum cum adipisci aliquam nulla dignissimos, possimus mollitia quos. Rem expedita perferendis aperiam atque accusantium excepturi, voluptates quis, laboriosam numquam explicabo blanditiis nulla, enim at illo! Delectus itaque maxime, est modi error quis qui autem illum!
    </p>
    <p>
      Blanditiis magnam mollitia quidem accusantium! Praesentium facilis, culpa molestiae odit fugit, voluptatum nam quibusdam, rem quas dolore perferendis id. Necessitatibus inventore ratione qui cupiditate, doloremque placeat! Atque, neque voluptatem consequuntur optio quia dignissimos voluptas minus, dolorum, reprehenderit molestiae culpa. Repudiandae, qui debitis illum corporis dignissimos quam cumque sed quod provident.
    </p>
  </div>

<%- include('partials/footer') %>