body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
}

.form-container {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  width: 300px;
  text-align: center;
}

.form-container h1 {
  color: #333;
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container .input-container {
  margin-bottom: 15px;
  text-align: left;
}

.form-container label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
  box-sizing: border-box;
}

.form-container button {
  background-color: #007bff;
  color: #FFF;
  border: none;
  padding: 10px 30px;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.form-container button:hover {
  background-color: #0056b3;
}

.welcome-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}